*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
*.apk
signing.properties

activity_inapp_buy.xml
InappBuyActivity.java
gradle/wrapper/gradle-wrapper.properties
*.jks
app/release/output.json